<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.condominiolegal.condominiolegal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.CadastroUsuarioActivity"
            android:parentActivityName=".activity.ListaUsuarioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.ListaUsuarioActivity" />
        </activity>
        <activity android:name=".activity.CadastroApartamentoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroMoradorActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaApartamentoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroCarroActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroPessoaLivreAcessoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroAutorizacaoVagaGaragemActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroCorrespondenciaActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroComunicadoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroDocumentoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroEnquenteActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroReclamacaoGeralActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroReservaActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.CadastroEspacoActivity">
            android:parentActivityName=".activity.CadastroReservaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.CadastroReservaActivity" />
        </activity>

        <service android:name=".notification.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Listas -->
        <activity android:name=".activity.ListaCorrespondeciaActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaUsuarioActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaMoradorActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaCarroActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaPessoaLivreAcessoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaAutorizacaoVagaGaragemActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaComunicadoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaDocumentoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaReclamacaoGeralActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaEspacoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>

        <!-- Editar -->
        <activity android:name=".activity.EditarUsuarioActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarMoradorActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarCarroActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarPessoaLivreAcessoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarAutorizacaoVagaGaragemActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarComunicadoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarDocumentoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarReclamacaoGeralActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditarEspacoActivity">
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.condominiolegal.condominiolegal.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.ListaReservaActivity"></activity>
    </application>

</manifest>